/** Alternate the rows white and beige for better visual hierarchy */
.wvc-parent-row:nth-child(odd) {
    background-color: white;
}

/* Display flex on the products so that image container for it is collapsed */
.entry-single-product {
    display: flex;
}

/* Hide the product images */ 
.product-images {
    display: none;
}

/* Don't display product metadata */
.product_meta {
    display: none;
}

/* Don't show the "add to wishlist" button */
.single-add-to-wishlist {
    display: none;
}

/* Remove margins and min-height on the products */
.wvc-product-presentation {
    margin-top: 0;
    margin-bottom: 0;
    min-height: unset;
}

/* Remove the horizontal line above the (now hidden) product metadata */
.wvc-product-presentation hr {
    display: none;
}

/* Clean up the padding */
.wvc-product-presentation .summary {
    padding: 0 0 20px 0;
}

/** Don't show the title for products. */
.wvc-product-presentation .product_title {
    display: none;
}

/* Default onsale looks ugly. Hide it for now. */
.wvc-product-presentation .onsale {
    display: none;
}

/* Dollar amounts are shown in the wrong order for some reason: "20$"
   Fix this so that they're in the right order.
*/ 
.wvc-product-presentation .woocs_price_code .amount,
.wvc-product-presentation .amount bdi {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

/* The quantity selector should have some spacing at the bottom for products that wrap (e.g. donations section) */
.wvc-product-presentation .quantity {
    margin-bottom: 5px;
}

.wvc-tab {
    padding-bottom: 0 !important;
}

/* on the header, hide the wishlist button */
.wishlist-container,
.account-container,
.currency-switcher {
    display: none !important;
}

/* AJAX "add to cart" button script appends "added to cart" link. 
   Hide it, as we add our own UI for this. */
.added_to_cart {
    display: none;
}

/* In the cart hover menu in the header, show product images with white background
   Needed otherwise some monochrome icons can't be seen on a black background. */
.cart-item-list img {
    background-color: white;
    padding: 5px;
    border-radius: 100px;
}

.choose-campsite-btn-container {
   display: flex;
   align-items: baseline;
   gap: 20px;
}

.chosen-site-header {
    display: none;
}

#chooseCampsiteBtn {
    min-width: 200px;
    min-height: 50px;
    font-family: "Lato";
    font-size: 16px;
}

.campsite-picker {
    position: fixed;
    width: 100%;
    height: calc(100vh - 50px);
    top: 92px;
    left: 0;
    right: 0;
    overflow: auto;
    text-align: center;
    background-color: rgba(92, 92, 92, 0.8);
}

.campsite-picker iframe {
    width: 100%;
    height: calc(100% - 50px);
    overflow: hidden;
}

/* When we show the campsite picker, we temporarily apply this style to the body to hide scrollbars.
   Otherwise we get 2x scrollbar: one for the campsite picker, another for the body.   
*/
.noscrollbars {
    overflow: hidden;
}

.warning {
    border: 1px solid rgb(255, 230, 156);
    background-color: rgb(255, 243, 205);
    color: rgb(153, 116, 4);
    padding: 16px;
    max-width: 350px;
    margin-top: 30px;
}

/* The shirt images container should display the images horizontally */
.shirt-imgs-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* On mobile, the shirt images container should stack the images vertically */
@media (max-width: 575px) {
    .shirt-imgs-container {
        flex-direction: column;
    }
}

/* Give a border to the t-shirt preview images */ 
.shirt-imgs-container img {
    border: 1px solid rgb(118, 118, 116);
    max-width: 400px;
    height: auto;
}

/* On mobile, the shirt images should be a bit smaller */
@media (max-width: 575px) {
    .shirt-imgs-container img {
        max-width: 345px;
    }
}

/* Don't show OUT OF STOCK for campsite "number of nights" choooser. It's handled elsewhere */
form[data-product_id='8045'] .out-of-stock {
    display: none;
}
